# Ignore the TOFU.egg-info directory
TOFU.egg-info/
tofu/utilities/__pycache__/
tofu/__pycache__/
tofu/site_resource_analysis/__pycache__/
tofu_logs/
tofu/wind_siting_analysis/__pycache__/
tofu/wind_resource/__pycache__/

# Ignore the csv and xlsx file in the data folder
data/*.csv
data/*.xlsx

# Ignore the output files in results folder
results/