matplotlib
# numpy=1.26.4
numpy
pandas>=2.0.3
plotly
geopy
python-dotenv
rainflow
scikit-learn
scipy
shapely
timezonefinder
setuptools
pyyaml
pathlib
dill
h5pyd #for getting resource data
# h5py
openpyxl
# mpi4py #for HPC runs
NREL-rex
packaging
