matplotlib
# numpy=1.26.4
numpy
pandas>=2.0.3
plotly
geopy
geopandas
python-dotenv
rainflow
scikit-learn
scipy
shapely
timezonefinder
setuptools
pyyaml
dill
h5pyd #for getting resource data
# h5py
openpyxl
# mpi4py #for HPC parallel runs only (install separately)
NREL-rex
packaging
